html,body,.loginHtml{
  width:100%;
  height:100%;
  font-family:'Montserrat', sans-serif; /*google font*/
  z-index:0;
}
html{
  background-color: #f1f0ee; /*off white*/
}
.loginHtml{
  background-image: linear-gradient(to bottom, #0b5f6e, #197d89, #2b9ca3, #40bcbc);
}
body{
  height:100%;
  margin:0;
  color:#f1f0ee;
}
#header{
  margin:0;
  height:25%;
  width:98%; /*100-1-1 padding each side */
  left:0;
  padding:1%;
  font-weight:500;
  background-image: linear-gradient(to bottom, #0b5f6e, #197d89, #2b9ca3, #40bcbc);}
#logo{
  width:6%;
  height:40%;
  margin-top:0%;
  margin-left:47%; /*47% | 6% | 47%  =100% account for logo width */
}
#brandName{
    font-size:22pt;
    color:#f1f0ee;
    text-shadow:1px 1px #024352;
}
#slogan{
  font-style: italic;
  font-size:14pt;
}
#brandName,#slogan{
  width: 20%;
  text-align:center;
  margin-left: 40%;
  font-weight: 600;
  text-shadow:0.5px 0.5px #024352;
}
#slogan{
  padding-top:1%;
}
.nav{
  margin-top:0;
  margin-left:0;
  height:7%;
  display:flex;
  width:100%;
  font-size: 11pt;
  background-color:#024352; /*dark blue */
}
a.navItem{
  display:flex;
  width:20%;
  height:100%;
  text-align:center;
  align-items: center;
  justify-content: center;
  background-color:#024352; /*dark blue */;
  color:#f1f0ee;/*off white*/
  border-right:2px solid #f1f0ee; /*off white*/

}
a#firstNav{
  margin-left:20%;
  border-left:2px solid #f1f0ee; /*off white*/
}
a.navItem:hover,#testBtn:hover{
  /*color:#024352;
  background-color: #f1f0ee;*/
  background-color: #Ffcc00; /*yellow gold */
  color:#024352;
  font-weight:600;
}
a.navItem:hover,a.navItem:visited,a.navItem:link{
  text-decoration: none;
}
#testBtn,#testBtn:hover{
  text-decoration: none;
  border-style: none;
}
#welcome{
  width:20%;
  margin-left:40%;/*40%  | 20% width of div | 40% =100%*/
  text-align:center;
}
#videoHomePage{
  display:inline-block;
  float:left;
  height:auto;
  width:auto;
  margin-left:10%;
  /*background-color: #49c1c1; /* lightblue*/
}
#secondImg{
  display:inline-block;
  width: 80%;
  margin:5%;
  float:right;
}
.gameGrid{
  display:inline-grid;
  grid-template-columns: repeat(3,1fr) 60px repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  gap: 20px;
  width: 80%;
  margin-top:5%;
  margin-left:10%;
  margin-bottom:10%;
  height: 50%;
  border-radius:30px;
}
.cardsEnglish,.cardsSpanish{
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 20px;
  font-size: 12pt;
  box-shadow: 2px 2px 2px 2px #024352;
  border:1px solid #024352;
}
.cardsEnglish{
  background-color: #019da8;
  color: #f1f0ee; /*off white*/
}
.cardsSpanish{
  background-color: #49c1c1;
  color:#024352;
}
input:focus{
  outline: none;
}
#closePopUpBtn{
  background-color:#f1f0ee; /*off white*/
  color:#024352; /*dark blue */
  border-radius: 5px;
  height:20%;
  width:20%;
  font-size: 12pt;
}
#popUpBox{
  background-color:#efa302;/*orange*/
  color:#f1f0ee; /*off white*/
  width:50%;
  height:40%;
  text-align: center;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  z-index:10;
  font-family: 'Montserrat',sans-serif;
  font-weight:500;
  border-radius:20px;
  overflow:hidden;
  display:none;
  font-size:16pt;
  padding-top:3%;
  box-shadow: 5px 10px 8px #024352;
}
#resultTitle{
  font-size:18pt;
  font-weight: 600;
}
#resultScore{
  font-size:22pt;
  font-weight: 600;
}
.gameProgressBar{
  height:5%;
  color: white;
}
.gameProgressBar{
  margin-top:2%;
  margin-left: 18%;/* (100%-64%) /2 =18..  | 18%   |  64%       |18%  | is 100%*/
  background-color: grey;
  width: 63%;
}
#gameProgress{
  margin:0;
  background-color: none;
  height:100%;
}
span#progressSpan{
  white-space: nowrap;
}
/*end game*/
.topicTypeTitle{
  display:flex;
  justify-content: center;
  align-items: center;
  color:#019da8;
  font-size:16pt;
  width:60%;
  margin-left:20%;
}
.topicsTypeGrid{
  display:inline-grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  padding:30px;
  width: 55%;
  height: 35%;
  justify-content: space-around;
  border-radius:30px;
  position:absolute;
  left:22%;
  right: 20%;
}
.topicsTypesDiv{
  cursor: pointer;
  height:100%;
  border-radius: 20px;
  font-size: 14pt;
  background-color:#efa302;
  color: #ffcc00; /*off white*/
  background-color: #024352;
}
a.topicTypeLink:active,a.topicTypeLink:hover,a.topicTypeLink:visited,a.topicTypeLink:link{
  text-decoration: none;
  border-radius: 20px;
  color: #ffcc00; /*yellow*/
  display:block;
  text-align: center;
  height:100%;
  width:100%;
  margin:0;
  justify-content: center;
  font-weight:600;

}
a.topicTypeLink:hover{
  color:#ffcc00;
  background-color: #efa302;
  margin:0;
  border-radius: 20px;
  color: #024352;
}
.topicTypeImg{
  padding-top:20%;
  width:70%;
  height:40%;
  padding-left:13%;
  padding-right:13%;
}

#main{
  display:flex;
  margin-top:3%;
  border:2px solid #024352; /*dark blue */
  width:60%;
  height:60%;
  margin-left: 20%; /* 20%left | 60% main | 20% =100%*/
  border-radius: 22px;
}

#createAccountDiv,#signInDiv{
  height:100%;
  width:50%;
}
#signInDiv{
  background-color:#f1f0ee; /*off white*/
  border-radius:0px 20px 20px 0px;
}
#createAccountDiv{
  background-color:#024352; /*dark blue */
  border-radius:20px 0px 0px 20px;
}
#createAccTitle,#signInTitle{
  text-align: center;
  padding:5%;
  margin-bottom:3%;
  width:90%; /*100-5 padding each side so 10% padding.*/
  font-size: 14pt;
  font-weight: 500;
}
#createAccTitle{
  color: #f1f0ee; /*off white*/
}
#signInTitle{
  color:#024352; /*dark blue */
}
.signUpLoginInput{
  height:10%;
  width:70%;
  margin-left:15%;
  margin-bottom:4%;
  padding:5px 0px 5px 10px;
  border:1px solid #024352; /*dark blue */
  color:#024352; /*dark blue */
}
::placeholder{
  color:#024352; /*dark blue */
}
#signUpSubmit,#loginSubmit{
  margin-top:11%;
  margin-left:15%;
  width:70%;
  padding:3%;
  border-radius: 5px;
  border-style: none;
  font-size: 12pt;
}
#signUpSubmit{
  color:#024352;
  margin-top:8%;
}
#loginSubmit{
  background-color:#024352; /*dark blue */
  color: #f1f0ee; /*off white*/
  margin-top:30%;
}
.signUpLoginInput:focus{
  outline:none;
  border-color: #ffcc00;
  box-shadow: 1px 1px 3px #ffcc00; /*last 3px is the amount of blur, others are horizonal offset and vertical offset*/
}
